.SignupForm-btn {
  background-color: white;
  border: none;
  border-radius: 6px;
  color: #18215A;
  padding: 10px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
}

.SignupForm-btn:hover {
  transform: translate(-2px, -2px);
  box-shadow: 5px 5.5px 2.5px rgb(80, 76, 76);
}

.SignupForm {
  margin-top: 10%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  width: 35%;
  background: #18215A;
  border-width: 2px;
  border-radius: 10px;
}

.SignupForm  label {
  display: block-inline;
  color: white;
  text-align: right;
}

.SignupForm  input {
    margin-left: 15px;
    margin-bottom: 10px;
    padding:8px;
    width:75%;
    border-radius: 10px;
    border-style: none;
}
